mixin page-subnav
  +b.page-subnav
    +e('ul').list
      each val in menu
        if val.name == pageName
          +e('li').list-item._active
            +e('a').list-link(href="#{val.url}")
              i(class="ico-#{val.ico}_active").ico.spr-subnav
              span= val.title
        else
          +e('li').list-item
            +e('a').list-link(href="#{val.url}")
              i(class="ico-#{val.ico}").list-ico.ico.spr-subnav
              span= val.title
