mixin page-content
  //- initialization
  - var blocks = {};

  //- Hack for multiple blocks in mixins
  //- See https://github.com/jadejs/jade/issues/1693#issuecomment-62606680
  mixin set(key)
    - blocks[key] = this.block
    
  //- Mixin body
  block
  +b.page-content
    +e.wrapper
      // Sidebar {{{
      +e.sidebar
        - blocks.sidebar()
      // Sidebar }}}
      
      // Main {{{
      +e.main
        - blocks.main()
      // Main }}}
