mixin page-footer
  +b('footer').page-footer
    +e('ul').content
      +e('li').content-item
        span
          ="© 2013 XUUC"
      +e('li').content-item
        ="Тех. поддержка "
        i.ico.spr-misc.ico-contacts-phone
        span
          = "+7(495)987-32-70"
      +e('li').content-item
        i.ico.spr-misc.ico-contacts-mail
        a(href="mailto:help@xius.ru").link-dotted.link-contrast
          ="help@xius.ru"
