mixin page-header
  +b('header').page-header
    +e('img')(src="{{IMG_PATH}}/header-logo.png").logo
    +e.nav
      +b.profile
        +e('a')(href="#").name= "Ивановна Алла"
        +e('a').manage.btn.btn-beta-primary.btn-xs
          i.ico.spr-misc.ico-status-online
          = "доступен"
        +e('img')(src='{{IMAGES_PATH}}/profile-avatar.jpg').avatar
