mixin users-overview
  mixin user(name, post, status, avatar)
    +e('tr').user
      +e('td').user-avatar
        img(src="{{IMAGES_PATH}}/user-1.jpg")
        
      +e('td').user-data
        +e('a')(href="#").user-name= name
        +e('p').user-post= post
        +e('p').user-status
          i(class="ico-status-#{status}").ico.spr-misc
          = status
          
      +e('td').user-numbers
        +e('ul').user-numbers-list
          +e('li').user-numbers-list-item
            i.ico.spr-misc.ico-phone-primary
            = "3145"
          +e('li').user-numbers-list-item
            i.ico.spr-misc.ico-phone-secodary-2
            = "3145"
          +e('li').user-numbers-list-item
            i.ico.spr-misc.ico-phone-secodary-2
            = "3145"
      td.table-btns
        +e('a').user-edit-btn.btn.btn-beta-default
          i.ico.spr-ui.ico-edit-unit
        +e('a').user-delete-btn.btn.btn-beta-default
          i.ico.spr-ui.ico-cross

  +b.users-overview
    .row
      +e.search.col-sm-4
        input.search-box.pull-left
      +e.add-btns.col-sm-8
        a(href="#").btn.btn-alpha-primary
          i.ico.spr-ui.ico-add-group
          = "Добавить группу"
        a(href="#").btn.btn-alpha-primary
          i.ico.spr-ui.ico-add-user
          = "Добавить пользователя"
    .row
      +e('div')(data-toggle="buttons").filter-btns.col-sm-9.btn-group
        label.btn.btn-beta-default.filter-all
          input(type="radio" checked)
          | Все
            
        label.btn.btn-beta-default.filter-online
          input(type="radio")
          | Доступен
          
        label.btn.btn-beta-default.filter-away
          input(type="radio")
          | Отошел
          
        label.btn.btn-beta-default.filter-busy
          input(type="radio")
          | Занят
          
        label.btn.btn-beta-default.filter-offline
          input(type="radio")
          | Не в сети
  
    +e.panel.panel
      .panel-heading
        .panel-title
          i.ico.spr-ui.ico-group
          = "Отдел компьютерных и информационных техглогий"
          
        .panel-buttons
          a(href="#").btn.btn-beta-default
            i.ico.spr-ui.ico-edit-page
            = "Изменить"
        
      +e('table').table.table.table-editing
        tbody
          +user("Ивченко Александр Геннадьевич", "Заместитель генерального директора", "online")
          +user("Иванченко Павел Валерьевич", "Ведущий менеджер проектов", "online")
