mixin user-crud-main-data
  +b.user-crud-main-data
    form.form-horizontal
      .form-section
        //- Surname input
        .form-group
          label(for="inputSurname").col-sm-3.control-label.required
            = "Фамилия"
          .col-sm-6
            input(type="text" placeholder="Иванов")#inputSurname.form-control
            
        //- Firstname input
        .form-group
          label(for="inputFirstname").col-sm-3.control-label.required
            = "Имя"
          .col-sm-6
            input(type="text" placeholder="Иван")#inputFirstname.form-control
            
        //- Lastname input
        .form-group
          label(for="inputLastname").col-sm-3.control-label
            = "Отчество"
          .col-sm-6
            .input-group
              input(type="text" placeholder="Иванович" data-reset="target")#inputLastname.form-control
              a(href="#inputLastname" data-reset="button").input-group-addon
                i.ico
            
        //- Birthday input
        .form-group
          label(for="inputBirthday").col-sm-3.control-label
            = "Дата рождения"
          .col-sm-6
            .input-group
              input(type="text" placeholder="дд - мм - гг" data-reset="target")#inputBirthday.form-control
              a(href="#inputBirthday" data-reset="button").input-group-addon
                i.ico
            
      .form-section
        //- Role select
        .form-group
          label(for="selectRole").col-sm-3.control-label
            = "Роль"
          .col-sm-6
            select#selectRole.form-control
              option= 1
              option= 2
              option= 3
              option= 4
              option= 5
            
        //- Hius login input
        .form-group
          label(for="inputHiusLogin").col-sm-3.control-label
            = "Логин Хиус"
          .col-sm-6
            input(type="text" placeholder="Логин")#inputHiusLogin.form-control
            
        //- Hius pass input
        .form-group
          label(for="inputHiusPass").col-sm-3.control-label
            = "Пароль"
          .col-sm-6
            .input-group
              input(type="password" placeholder="Пароль" )#inputHiusPass.form-control
              span.input-group-addon
                | Поменять
              
        .form-group
          .col-sm-offset-3.col-sm-6
            a(href="#inputHiusPass" data-legth="8").gen-password-btn-js.btn.btn-alpha-default.btn-xs= "Сгенирировать пароль"
            
      .form-section
        //- Group select
        .form-group
          label(for="selectGroup").col-sm-3.control-label
            = "Группа"
          .col-sm-6
            select#selectGroup.form-control
              option= 1
              option= 2
              option= 3
              option= 4
              option= 5

        //- Post input
        .form-group
          label(for="inputPost").col-sm-3.control-label
            = "Должность"
          .col-sm-6
            .input-group
              input(type="text" placeholder="Сотрудник" data-reset="target")#inputPost.form-control
              a(href="#inputPost" data-reset="button").input-group-addon
                i.ico

        //- Comment textarea
        .form-group
          label(for="textareaComment").col-sm-3.control-label
            = "Комментарий"
          .col-sm-6
            .input-group
              textarea(placeholder="Комментарий" data-reset="target")#textareaComment.form-control
              a(href="#textareaComment" data-reset="button").input-group-addon
                i.ico
        
        //- Avatar uploader
        .form-group
          .col-sm-offset-3.col-sm-6.uploader-control
            img(src="{{IMG_PATH}}/form-upload-image-default.jpg").uploader-preview
            a.btn.btn-alpha-default.btn-xs= "Добавить фото"
            span.uploader-prompt
              = "Размер 300 x 300 Px  до 100 кб"
