mixin user-crud-call-rules
  +b.user-crud-call-rules
    +e.nav.btn-group.pull-right
      a.btn.btn-alpha-primary
        i.ico.spr-ui.ico-add-phone
        = "Добавить номер"
    
    +e('table').table.table.table-editing
      tbody
        tr
          td
            i.ico.spr-misc.ico-phone-primary
          td= "3154"
          td= "*****"
          td= ""
          td= "Основной номер"
          td.table-btns
            +e('a').number-edit-btn.btn.btn-beta-default
              i.ico.spr-ui.ico-edit-unit
            +e('a').number-delete-btn.btn.btn-beta-default
              i.ico.spr-ui.ico-cross
