.page-footer {
  margin: 20px 0;
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
  color: #fff;

  &__content {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__content-item {
    float: left;
    position: relative;
    left: 50%;
    border-right: 1px solid #fff;
    padding: 0 10px;

    &:last-child {
      border: none;
    }
  }

  .ico {
    margin-right: 8px;
  }
}
