.page-header {
  margin: 11px 0;
  .clearfix();

  &__logo {
    float: left;
    display: inline-block;
  }

  &__nav {
    float: right;
    display: inline-block;
  }
}

// TODO: Create new block
.profile {
  position: relative;
  width: 300px;
  height: 50px;

  &__name {
    position: absolute;
    top: 0;
    right: 51px;
    line-height: 1;

    &:extend(a.link-dotted all);
    &:extend(a.link-contrast all);
  }

  &__manage {
    position: absolute;
    bottom: 0;
    right: 51px;
  }

  &__avatar {
    border-radius: 5px;
    border: 1px solid #cdcfd1;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    width: 38px;
    height: 38px;
  }
}
