.page-content {
  color: #5f6969;

  &__main-title {
    &:extend(.h3 all);
    color: inherit;
  }

  &__sidebar-title {
    color: @color-nav-text;
    margin: 31px 0 17px 22px;
    &:extend(.h3 all);
  }

  &__wrapper {
    background: @color-nav-bg;
    border-radius: 7px;
    display: table;
    min-height: 500px;
    width: 100%;
  }

  &__sidebar {
    display: table-cell;
    vertical-align: top;
    width: 178px;
  }

  &__main {
    padding: 10px 25px;
    border-radius: 7px;
    display: table-cell;
    background: #f7f7f7;
    box-shadow: inset 2px 0px 0px 0px rgba(0, 0, 0, 0.22);
  }
}
