.page-subnav {

  &__list {
    list-style: none;
    margin-left: 8px;
    padding: 0;
    font-size: 1.13em;
  }

  &__list-item {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px; // Hack for active item
      width: 158px;
      height: 2px;
      background: url("{{IMG_PATH}}/nav-divider.png");
    }
  }

  &__list-link {
    display: block;
    width: 100%;
    line-height: 59px;
    padding: 0 15px 0 40px;
    text-decoration: none;
    color: @color-nav-text;

    // TODO: dont use tags
    span {
      vertical-align: middle;
      display: inline-block;
      line-height: normal;
    }

    i {
      position: absolute;
      left: 6px;
      top: 50%;
      margin-top: -16px;
    }

    &:focus,
    &:hover {
      color: @color-nav-text;
    }
  }

  // States
  &__list-item_active {
    background: #008796;
    border: 1px solid #2d808a;
    border-bottom-color: #1897b7;
    border-right: none;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -18px;
      top: -1px;
      width: 18px;
      height: 61px;
      background: url("{{IMG_PATH}}/nav-active-arrow.png") no-repeat;
    }
  }

  &__list-item_active > &__list-link {
    color: #fff;
  }
}
