.users-overview {
  &__search {
    margin-bottom: 20px;
  }

  &__add-btns {
    margin-bottom: 20px;

    > .btn {
      float: right;
      margin-left: 10px;
    }
  }

  &__filter-btns {
    margin-bottom: 13px;
  }
}

table.users-overview__table {
  > tbody {
    > tr.users-overview__user {
      .users-overview__user {
        &-avatar {
          vertical-align: baseline;

          img {
            border-radius: 5px;
            border: 1px solid #666f71;
            width: 50px;
            height: 50px;
          }
        }

        &-name {
          font-size: 1.1em;
        }

        &-post {
          color: #737d7d;
        }

        &-status {
          color: #c8cece;
        }
      }
    }
  }
}

.users-overview__user {
  td&-avatar {
  }
}
