<div class="user-edit">

    <div class="user-edit__tabs"></div>

    <div class="pull-right">
        <a class="user-edit__cancel-btn btn btn-link">Отмена</a>
        <a class="user-edit__save-btn btn btn-alpha-success">Сохранить</a>
    </div>
</div>
