<div class="call-rules">
    <div class="tab-container">
        <div class="btn-group pull-right call-rules__nav">
            <a class="btn btn-alpha-primary"><i class="ico spr-ui ico-add-phone"></i>Добавить номер</a>
        </div>
    </div>

    <table class="table table-editing call-rules__table">
        <tbody></tbody>
    </table>
</div>
