<tr>
    <td>
         <i class="ico spr-misc ico-phone-primary"></i>
     </td>

    <td><%= number %></td>

    <td><%= number %></td>

    <td><%= number %></td>

    <td>Основной номер</td>

    <td class="table-btns">
        <a class="btn btn-beta-default call-rules__number-edit-btn ico spr-ui ico-edit-unit"></a>
        <a class="btn btn-beta-default call-rules__number-delete-btn ico spr-ui ico-cross"></a>
    </td>
</tr>
