<div class="tab-container">
    <div class="user-edit__main-data">
        <form class="form-horizontal">
            <div class="form-section">
                <div class="form-group">
                    <label class="col-sm-3 control-label required" for="inputSurname">Фамилия</label>

                    <div class="col-sm-6">
                        <input class="form-control" id="inputSurname" placeholder="Иванов" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label required" for="inputFirstname">Имя</label>

                    <div class="col-sm-6">
                        <input class="form-control" id="inputFirstname" placeholder="Иван" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputLastname">Отчество</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" data-reset="target" id="inputLastname" placeholder="Иванович" type="text"><a class="input-group-addon ico" data-reset="button" href="#inputLastname"></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputBirthday">Дата рождения</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" data-reset="target" id="inputBirthday" placeholder="дд - мм - гг" type="text"><a class="input-group-addon ico" data-reset="button" href="#inputBirthday"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="selectRole">Роль</label>

                    <div class="col-sm-6">
                        <select class="form-control" id="selectRole"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputHiusLogin">Логин Хиус</label>

                    <div class="col-sm-6">
                        <input class="form-control" id="inputHiusLogin" placeholder="Логин" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputHiusPass">Пароль</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" id="inputHiusPass" placeholder="Пароль" type="password"><span class="input-group-addon">Поменять</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <a class="gen-password-btn-js btn btn-alpha-default btn-xs" data-legth="8" href="#inputHiusPass">Сгенирировать пароль</a>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="selectGroup">Группа</label>

                    <div class="col-sm-6">
                        <select class="form-control" id="selectGroup"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="inputPost">Должность</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" data-reset="target" id="inputPost" placeholder="Сотрудник" type="text"><a class="input-group-addon ico" data-reset="button" href="#inputPost"></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="textareaComment">Комментарий</label>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <textarea class="form-control" data-reset="target" id="textareaComment" placeholder="Комментарий">
</textarea><a class="input-group-addon ico" data-reset="button" href="#textareaComment"></a>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6 uploader-control">
                        <img id="imgAvatar" class="uploader-preview" src="/img/form-upload-image-default.jpg"><a class="btn btn-alpha-default btn-xs">Добавить фото</a><span class="uploader-prompt">Размер 300 x 300 Px до 100 кб</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
