{{#block "sprites"}}
{{#each sprites}}
@{{../options.varPrefix}}{{name}}: {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}} {{name}};
{{/each}}
{{/block}}

{{#block "spritesheet"}}
@{{options.varPrefix}}icons: {{#each sprites}} @{{../options.varPrefix}}{{name}}{{/each}};
@{{options.varPrefix}}spritesheet: {{spritesheet.px.width}} {{spritesheet.px.height}} '\{{IMG_PATH}}/{{{spritesheet.escaped_image}}}' @{{options.varPrefix}}icons '{{{options.spritesheetName}}}';
{{/block}}
