// Main bundle
// --------------------------------------------------

// Core variables and components
@import "variables.less";
@import "components.less";

// Common
@import "blocks.less";
@import "pages.less";

body {
  background: #004d58 url("{{IMG_PATH}}/body-bg-pattern.png") repeat;
}

// Reset the box-sizing
//
// Need for bootstrap grid.
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

// Disable responsive
.container {
  min-width: @screen-sm-min + 1 !important;
}
