//
// Variables
// --------------------------------------------------


//== Colors
//
//## Colors for use across this project.

//** Colors interface.
@color-nav-bg: #aaf0ff;
@color-nav-text: #007887;

//** Colors base.
@color-gray: #474747;
@color-black: #0f0f0f;
@color-blue: #2575ed;
@color-red: #de2c3b;
@color-yellow: #ffc800;
@color-green: #2c9f42;
@color-white: #fff;

//** Colors dark.
@color-gray-dark: #b3b6b7;
@color-black-dark: #000;
@color-blue-dark: #00579e;
@color-red-dark: #b2232f;
@color-yellow-dark: #cca000;
@color-green-dark: #237f35;

//** Colors light.
@color-gray-light: #f0f1f2;
@color-black-light: #363738;
@color-blue-light: #92baf6;
@color-red-light: #ef969d;
@color-yellow-light: #ffe480;
@color-green-light: #96cfa1;

//** Colors pastel.
@color-gray-pastel: #f7f8f8;
@color-black-pastel: #dadada;
@color-blue-pastel: #d3e3fb;
@color-red-pastel: #f8d5d8;
@color-yellow-pastel: #fff4cc;
@color-green-pastel: #d5ecd9;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @color-gray-dark;

// Table Color
@color-table-border: #eee;
@color-table-stripped: #f8f8f8;
@color-table-hovered: #f4f4f4;

// Input
@color-input-border: #ccc;
@color-input-append-background: #f4f4f4;
@color-input-append-border: #d4d4d4;

// Links Color
@color-link: #00aac8;
@color-link-hover: lighten(@color-link, 10%);

@color-link-contrast: #fff;
@color-link-contrast-hover: lighten(@color-link-contrast, 10%);


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     4px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    7px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    3px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       1px;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-primary-color:              #fff;
@btn-primary-bg:                 #00acc0;

@btn-default-color:              #737d7d;
@btn-default-bg:                 #fff;

@btn-success-color:              #fff;
@btn-success-bg:                 #3abe00;

@btn-link-disabled-color:        @color-gray-light;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         5px;
@btn-border-radius-large:        8px;
@btn-border-radius-small:        5px;


//== Panels
//
//##

@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-bg:            #f4f5f5;
@panel-heading-padding:       5px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          #dedede;
@panel-footer-bg:             #f5f5f5;


//== Tab
//
//##

@tab-bg:                          #f1f1f1;
@tab-border-radius:               4px;
@tab-body-padding:                @panel-body-padding;
@tab-border-color:                #d8d8d8;
@tab-nav-link-padding-horisontal: 11px;
@tab-nav-link-padding-vertical:   6px;
@tab-nav-link-bg:                 linear-gradient(to bottom, #e5e3e3 0%, #f0efef 100%);
@tab-nav-link-color:              inherit;
@tab-nav-link-hover-bg:           #fff;
@tab-nav-link-hover-color:        inherit;
@tab-nav-link-active-color:       inherit;
@tab-nav-link-active-bg:          linear-gradient(to bottom, #f6f6f6 0%, #f1f1f1 100%);
@tab-nav-link-disabled-color:     inherit;



//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @color-gray-light;

//** Text color for `<input>`s
@input-color:                    @color-gray;
//** `<input>` border color
@input-border:                   #cfc8bc;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             #c7a158;

//** Placeholder text color
@input-color-placeholder:        #999;

// Allows for customizing `.form-control` vertical padding
@input-padding-md-vertical: 4px;
@input-padding-lg-vertical: 8px;
@input-padding-sm-vertical: 2px;

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@input-padding-md-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@input-padding-lg-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@input-padding-sm-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       13px;

//** `.form-section` vertical margin
@form-section-margin-vertical:   28px;

@legend-color:                   @color-gray-dark;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           @color-gray-light;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;

//** Labels font weight in form.
@label-font-weight:              normal;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             #3c763d;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #31708f;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #8a6d3b;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #a94442;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover:                #f5f5f5;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            #ddd;


//== Typography
//
//## Font and color for body text, headings, and more.

@font-family-sans-serif:  "HelveticaNeueCyr-Light", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        "HelveticaNeueCyr-Light", Helvetica, Tahoma, sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            30px;
@font-size-h2:            25px;
@font-size-h3:            21px;
@font-size-h4:            18px;
@font-size-h5:            @font-size-base;
@font-size-h6:            12px;

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    normal;
@headings-line-height:    1.1;
@headings-color:          @color-blue-dark;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @color-gray-light;
//** Abbreviations and acronyms border color
@abbr-border-color:           @color-gray-light;
//** Headings small color
@headings-small-color:        @color-gray-light;
//** Blockquote small color
@blockquote-small-color:      @color-gray-light;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @color-gray-light;
//** Page header border color
@page-header-border-color:    @color-gray-light;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
@dl-horizontal-breakpoint:    @grid-float-breakpoint;
//** Horizontal line color.
@hr-border:                   @color-gray-light;


//-- Z-index master list
//
//## Z-index values.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
