extends ./root
include ../blocks/page-header
include ../blocks/page-footer
include ../blocks/page-content
include ../blocks/page-subnav

block body

  block options
    - var pageName;
    - var pageTitle;

  .container
    // Header {{{
    +page-header
    // Header }}}
    
    // Content {{{
    +page-content
      +set('sidebar')
        +e('h1').sidebar-title Управление
        +page-subnav
      +set('main')
        +e('h2').main-title Пользователи и группы
        block content-main
    // Content }}}

    // Footer {{{
    +page-footer
    // Footer }}}
