doctype html

//- Include global bem mixins
include ../bemto

block options
  - var pageName = "";

html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title XUUC | #{pageName}
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- TODO: Place apple-touch-icon.png in the root directory
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="favicon" href="/favicon.ico")

    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/modernizr.js")


  body(class="page page__" + pageName)
    <!--[if lt IE 8]>
    <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    block body

    script(data-main="js/app/main" src="js/vendor/require.js")

    //- TODO: I'm not sure about it
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
