<tr class="users-overview__user">
    <td class="users-overview__user-avatar">
        <img src="<%= user.avatar_src %>">
    </td>

    <td class="users-overview__user-data">
        <a href="#" class="users-overview__user-name"> <%= user.name %></a>
        <p class="users-overview__user-post"><%= user.post %></p>
        <p class="users-overview__user-status">
            <i class="ico-status-<%= user.icoStatus %> ico spr-misc"></i>
            <%= user.status %>
        </p>
    </td>

    <td class="users-overview__user-numbers">
        <ul class="users-overview__user-numbers-list">
            <% _.each(user.numbers, function (number, key) { %>
            <li class="user-numbers-list-item">
                <i class="ico-phone-<%= (key === 1) ? 'primary' : 'secondary-2' %> ico spr-misc"></i>
                <%= number %>
            </li>
            <% }); %>
        </ul>
    </td>

    <td class="table-btns">
        <a href="#" class="users-overview__user-edit-btn btn btn-beta-default">
            <i class="ico-edit-unit ico spr-ui"></i>
        </a>

        <a href="#" class="users-overview__user-delete-btn btn btn-beta-default">
            <i class="ico-cross ico spr-ui"></i>
        </a>
    </td>
</tr>
