<div class="panel users-overview__panel">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="ico spr-ui ico-group"></i>
            <%= title %>
        </div>

        <div class="panel-buttons">
            <a class="btn btn-beta-default" href="#">
                <i class="ico spr-ui ico-edit-page"></i>
                Изменить
            </a>
        </div>
    </div>

    <table class="users-overview__table table-editing table">
        <tbody>
        </tbody>
    </table>
</div>
