<div class="users-overview">
    <div class="row">
        <div class="col-sm-4 users-overview__search">
            <input class="search-box pull-left">
        </div>

        <div class="col-sm-8 users-overview__add-btns">
            <a class="btn btn-alpha-primary" href="#/group/create">
                <i class="ico spr-ui ico-add-group"></i>
                Добавить группу
            </a>

            <a class="btn btn-alpha-primary" href="#/user/create">
                <i class="ico spr-ui ico-add-user"></i>
                Добавить пользователя
            </a>
        </div>
    </div>

    <div class="row">
        <div class="btn-group col-sm-9 users-overview__filter-btns" data-toggle="buttons">
            <label class="btn btn-beta-default filter-all">
                <input type="radio" checked="checked">Все
            </label>

            <label class="btn btn-beta-default filter-online">
                <input type="radio">Доступен
            </label>

            <label class="btn btn-beta-default filter-away">
                <input type="radio">Отошел
            </label>

            <label class="btn btn-beta-default filter-busy">
                <input type="radio">Занят
            </label>

            <label class="btn btn-beta-default filter-offline">
                <input type="radio">Не в сети
            </label>
        </div>
    </div>

    <div class="users-overview__groups"></div>
</div>
