/* =Buttons
-----------------------------------------------------------------------------*/

// Buttons mixins
//
//

// Button size mixin
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

// Button alpha variant mixin
.button-alpha-variant(@color; @background; @border-color) {
  @gradient-from: lighten(@background, 3%);
  @gradient-to: darken(@background, 3%);

  color: @color;
  background: @background;
  background: linear-gradient(top, @gradient-from 0%, @gradient-to 100%);
  border-color: @border-color;
  box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.29), 1px 1px 2px -1px rgba(0, 0, 0, 0.65);
  text-shadow: 0px 1px 0px #008291;

  &:focus,
  &.focus,
  &:hover {
    color: @color;
    background: lighten(@background, 3%);
    background: linear-gradient(top, lighten(@gradient-from, 3%) 0%, lighten(@gradient-to, 3%) 100%);
    border-color: @border-color;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background: darken(@background, 5%);
    border-color: @border-color;

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background: darken(@background, 5%);
      border-color: @border-color;
    }
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border-color;
    }
  }
}


// Button beta variant mixin
.button-beta-variant(@color; @background; @border-color) {
  @gradient-from: lighten(@background, 7%);
  @gradient-to: darken(@background, 7%);

  color: @color;
  background: @background;
  background: linear-gradient(top, @gradient-from 0%, @gradient-to 100%);
  border-color: @border-color;
  box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.29);
  text-shadow: 0px 1px 0px #008291;

  &:focus,
  &.focus,
  &:hover {
    color: @color;
    background: lighten(@background, 3%);
    background: linear-gradient(top, lighten(@gradient-from, 3%) 0%, lighten(@gradient-to, 3%) 100%);
    border-color: @border-color;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background: darken(@background, 5%);
    border-color: darken(@background, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background: darken(@background, 5%);
      border-color: @border-color;
    }
  }

  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border-color;
    }
  }
}


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
  user-select: none;
  // Disable outlines
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
    text-decoration: none;
  }

  &:active,
  &.active {
    text-decoration: none;
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }
}


// Alternate alpha buttons
// --------------------------------------------------
.btn-alpha,
.btn-alpha-default {
  .button-alpha-variant(@btn-default-color; @btn-default-bg; #bbbbbb);
  text-shadow: 0px 1px 0px #fff;
}

.btn-alpha-primary {
  .button-alpha-variant(@btn-primary-color; @btn-primary-bg; darken(@btn-primary-bg, 7%));
}

// Success appears as green
.btn-alpha-success {
  .button-alpha-variant(@btn-success-color; @btn-success-bg; darken(@btn-success-bg, 7%));
}


// Alternate beta buttons
// --------------------------------------------------
.btn-beta,
.btn-beta-default {
  .button-beta-variant(@btn-default-color; @btn-default-bg; #bbbbbb);
  text-shadow: 0px 1px 0px #fff;
}

.btn-beta-primary {
  //- TODO: Move bg color to variables
  .button-beta-variant(@btn-primary-color; #007281; darken(#007281, 7%));
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @color-link;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @color-link-hover;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
  text-shadow: none;
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


// Icons in buttons
// --------------------------------------------------

.btn > .ico {
  margin-right: 6px;
}
