// Container default variables
//
// Define default variables.

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
@screen-xs-min:              480px;

// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:              992px;

// Large screen / wide desktop
@screen-lg-min:              1200px;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

//** Padding between columns. Gets divided in half for the left and right.
@container-gutter-width:       30px;

// Small screen / tablet
@container-sm:                 (720px + @container-gutter-width);

// Medium screen / desktop
@container-md:                 (940px + @container-gutter-width);

// Large screen / wide desktop
@container-lg:                 (1140px + @container-gutter-width);


// Centered container element
.container-fixed(@gutter: @container-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
}


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  .container-fixed();
}
