// Sprite mixins
.loop-sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 5);
  @sprite-name-bare: ~"@{sprite-name}";
  @sprite-icons: extract(@sprite, 4);
  .spr-@{sprite-name-bare} {
    .make-sprite(@sprite);
    .loop-icons(@sprite-icons);
  }
  .loop-sprites(@sprites, @i + 1);
}
.make-sprite(@sprite) {
  // DEV: We slice to trim off excess quotes on an escaped URL
  @sprite-image: extract(@sprite, 3);
  @sprite-image-bare: ~"@{sprite-image}";
  background-image: url(@sprite-image-bare);
}

// Icon mixins
.loop-icons(@icons, @i: 1) when (@i <= length(@icons)) {
  @icon: extract(@icons, @i);
  @icon-name: extract(@icon, 5);
  @icon-name-bare: ~"@{icon-name}";
  &.ico-@{icon-name-bare} {
    .make-icon(@icon);
  }
  .loop-icons(@icons, @i + 1);
}
.make-icon(@icon) {
  width: extract(@icon, 3);
  height: extract(@icon, 4);
  background-position: extract(@icon, 1) extract(@icon, 2);
}

// All sprites
@all-sprites: @spr-misc-spritesheet @spr-ui-spritesheet @spr-subnav-spritesheet;

.loop-sprites(@all-sprites);

i.ico {
  display: inline-block;
  vertical-align: middle;
}


// Special
a[data-reset="button"] {
  .ico {
    .make-sprite(@spr-ui-spritesheet);
    .make-icon(@spr-ui-trash);
  }

  &:hover {
    .ico {
      .make-sprite(@spr-ui-spritesheet);
      .make-icon(@spr-ui-trash_active);
    }
  }
}
