//
// Tab
// --------------------------------------------------


// Base class
.tab {
  margin-bottom: @line-height-computed;
}


// Pane body
.tab-body {
  border: 1px solid transparent;
  background-color: @tab-bg;
  border-color: @tab-border-color;
  border-radius: 0 @tab-border-radius @tab-border-radius @tab-border-radius;
  &:extend(.clearfix all);

  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Pane content padding
.tab-container {
  padding: @tab-body-padding;
  &:extend(.clearfix all);
}


.tab-nav {
  list-style: none;
  margin: 0;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  font-size: 1.093em;
  &:extend(.clearfix all);

  > li {
    position: relative;
    display: block;
    float: left;
    bottom: -2px;
    margin-right: 6px;

    > a {
      @padding-vertical: @tab-nav-link-padding-vertical - 1;
      color: @tab-nav-link-color;
      background: @tab-nav-link-bg;
      text-decoration: none;
      display: block;
      padding: @padding-vertical @tab-nav-link-padding-horisontal;
      line-height: @line-height-base;
      border: 1px solid @tab-border-color;
      border-bottom: none;
      border-radius: @tab-border-radius @tab-border-radius 0 0;

      &:hover,
      &:focus {
        text-decoration: none;
        color: @tab-nav-link-hover-color;
        background: @tab-nav-link-hover-bg;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active {
      // Make the list-items overlay the bottom border
      bottom: -1px;
      // TODO: Ugly hack
      font-family: "HelveticaNeueCyr-Roman";

      > a {
        &,
        &:hover,
        &:focus {
          padding: @tab-nav-link-padding-vertical @tab-nav-link-padding-horisontal;
          color: @tab-nav-link-active-color;
          background: @tab-nav-link-active-bg;
          cursor: default;
        }
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: @tab-nav-link-disabled-color;
      background: @tab-bg;

      &:hover,
      &:focus {
        color: @tab-nav-link-disabled-color;
        background-color: @tab-bg;
        text-decoration: none;
        cursor: @cursor-disabled;
      }
    }
  }
}


// Tables in tab
//
// Place a non-bordered `.table` within a panel (not within a `.tab-body`) and
// watch it go full width.

.tab {
  .table,
  .table-responsive > .table {
    margin-bottom: 0;

    caption {
      padding-left: @panel-body-padding;
      padding-right: @panel-body-padding;
    }
  }

  table.table {
    margin: 0 0 20px;

    > tbody {
      > tr {
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
}
